body{
    background:#000000;
    color:#ffffff;
    font-family:"Times New Roman",sans-serif;
}

h1{
    font-size: 64px;
    text-align: center;
    padding:10px;
}
h2{
    font-size: 32px;
    color: #ffffff;
    text-shadow: 4px 4px 2px #808080;
}
p{
    font-size: 24px;
    padding-top: 15px;

}
img{
    display:inline-block;
    width:550px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#intro{
    background:#000000;
    min-height: 150px;
    padding: 25px;
    text-align:left;
}
#red{
    background:#ff0000;
    min-height: 150px;
    padding: 25px;
    text-align: right;
}
#blue{
    background:#0000ff;
    text-align:left;
    min-height: 150px;
    padding: 25px;
}
#yellow{
    background:#ffff00;
    text-align:right;
    min-height: 150px;
    padding: 25px;
}
#yellow h2{
    color:#000000;
    text-shadow:4px 4px 2px #c7e2c7;
}
#yellow p{
    color:#000000;
}
#green{
    min-height: 150px;
    padding: 25px;
    background:#008000;
    text-align:left;
}
footer p{
    background:#000000;
    color:#ffffff;
    padding:0px 10px 10px 0px;
    text-align:center;
}
